pipeline/pl_ingest_ecommerce_batch.json
{
	"name": "pl_ingest_ecommerce_batch",
	"properties": {
		"activities": [
			{
				"name": "ForEach_csv_files",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json('[\n{\"name\":\"olist_orders_dataset.csv\",\"folder\":\"orders\"},\n{\"name\":\"olist_customers_dataset.csv\",\"folder\":\"customers\"},\n{\"name\":\"olist_products_dataset.csv\",\"folder\":\"products\"},\n{\"name\":\"olist_order_items_dataset.csv\",\"folder\":\"order_items\"},\n{\"name\":\"olist_order_payments_dataset.csv\",\"folder\":\"payments\"}\n]')",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "copy_csv_to_stage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_csv_source",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_csv_sink",
									"type": "DatasetReference",
									"parameters": {
										"foldername": {
											"value": "@item().folder",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "log_copy_failure",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "copy_csv_to_stage",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Errormessage",
								"value": {
									"value": "@activity('copy_csv_to_stage').error.message",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Errormessage": {
				"type": "String"
			}
		},
		"annotations": []
	}
}